* {
  text-decoration: none;
  /* user-select: none; */
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a,
Link {
  text-decoration: none;
}

/*
  |----------------------------------------
  | Body 
  |----------------------------------------
*/
body {
  background-color: var(--bg_primary_1);
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0.05rem; /* or use 0.05rem to 0.1rem if needed */
}

/* width */
body::-webkit-scrollbar {
  width: 7px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
  background: var(--bg_primary_1);
}

/* Handle */
body::-webkit-scrollbar-thumb {
  /* background: #888; */
  background: var(--bg_accent_1);
  border-radius: 20px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*
  |----------------------------------------
  | App layout container
  |----------------------------------------
*/
#app_layout_container {
  background-color: var(--bg_primary_1) !important;
  color: var(--text_secondary_1) !important;
  margin: 0;
  padding-top: 10px;
  height: 100vh;
  overflow-y: hidden;
}

#side_navigation {
  /* border-right: 0.4px solid var(--bg_accent_1); */
  padding-top: 10px;
}
#main_content_wrapper {
  height: 100%;
  overflow: scroll;
  /* background-color: var(--bg_primary_1); */
  border-radius: 10px;
  padding: 0 !important;
}


/* Vertical Scrollbar */
#main_content_wrapper::-webkit-scrollbar {
  width: 7px; /* Width of the vertical scrollbar */
}

/* Track */
#main_content_wrapper::-webkit-scrollbar-track {
  background: var(--bg_primary_1); /* Background of the scrollbar track */
}

/* Handle */
#main_content_wrapper::-webkit-scrollbar-thumb {
  background: var(--bg_accent_1); /* Background of the scrollbar handle */
  border-radius: 20px; /* Rounded corners for the handle */
}

/* Handle on hover */
#main_content_wrapper::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle on hover */
}

/* Horizontal Scrollbar */
#main_content_wrapper::-webkit-scrollbar {
  height: 7px; /* Height of the horizontal scrollbar */
}

/* Horizontal Track */
#main_content_wrapper::-webkit-scrollbar-track {
  background: var(--bg_primary_1); /* Background of the horizontal scrollbar track */
}

/* Horizontal Handle */
#main_content_wrapper::-webkit-scrollbar-thumb {
  background: var(--bg_accent_1); /* Background of the horizontal scrollbar handle */
}

/* Horizontal Handle on hover */
#main_content_wrapper::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle on hover */
}

/*
  |----------------------------------------
  | Back to top 
  |----------------------------------------
*/

.back_to_top {
  position: fixed;
  /* visibility: hidden; */
  /* opacity: 0; */
  opacity: 1;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background-color: var(--bg_accent_1);
  color: var(--text_secondary_1);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 3px solid transparent;
  transition: all 0.4s;
}

.back_to_top .back_to_top_icon {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back_to_top:hover {
  background-color: var(--bg_primary_5);
  border: 3px solid var(--bg_accent_1);
}

.back_to_top:hover .back_to_top_icon {
  color: var(--text_accent_1);
}

/*
  |----------------------------------------
  | Chat on Whatsapp 
  |----------------------------------------
*/
.chat_on_whatsapp {
  background-color: var(--bg_accent_1);
  border: 4px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;

  position: fixed;
  right: 15px;
  bottom: 120px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all 0.4s;
  z-index: 996;
}
.chat_on_whatsapp:hover {
  background-color: var(--bg_primary_5);
  border-color: var(--whatsapp_color);
}
.chat_on_whatsapp .chat_on_whatsapp_icon {
  font-size: 35px;
  color: var(--text_unchanged_secondary);
  animation: chatOnWhatsapp 5s infinite;
}
.chat_on_whatsapp:hover .chat_on_whatsapp_icon {
  color: var(--whatsapp_color);
  transform: rotate(-650deg);
  transition: all 0.5s ease;
}

@-webkit-keyframes chatOnWhatsapp {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(360deg);
  }
  70% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes chatOnWhatsapp {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(360deg);
  }
  70% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Mobile */

@media only screen and (max-width: 600px) {
  .back_to_top {
    right: 15px;
    bottom: 50px;
  }
  .chat_on_whatsapp {
    right: 15px;
    bottom: 120px;
  }
}
